<!doctype html>
<html lang="fr">

<head>
  <title>Vanilla JS Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.cjs.js"
    integrity="sha512-TCY5bur+yuaqM2miOJr6d0QPjYItW9jNZn/WxticGUJRQPVGfXsO7YKsPB7ZB5KhtTtetnTiWKJyqfHtDrInlw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <main>
      <h1>Vue.js Example</h1>
      <hr />

      <div style="display: flex; align-items: center; gap: 20%;">
        <button @click="fetchUsers(10)" style="flex-basis: 40%;">Nouveaux utilisateurs</button>
        <button @click="addUsers(5)" style="flex-basis: 40%;">Ajouter des utilisateurs</button>
      </div>

      <div style="display: flex; align-items: center; gap: 20px">
        <div>
          <label for="filter">Genre:</label>
          <select id="filter" v-model="selectedGender">
            <option value="">Tous</option>
            <option value="male">Hommes</option>
            <option value="female">Femmes</option>
          </select>
        </div>
        <div>
          <label for="filterAge">Âge:</label>
          <select id="filterAge" v-model="selectedAgeOrder">
            <option value="">Aucun tri</option>
            <option value="asc">Croissant</option>
            <option value="desc">Décroissant</option>
          </select>
        </div>
      </div>

      <div style="display: flex; gap: 30px; align-items: start;">
        <input type="search" v-model="searchQuery" placeholder="🔍 Tapez votre recherche..." style="flex-basis: 70%;" />
      </div>

      <p v-if="loading" style="text-align: center; font-weight: bold;">
        Recherche des utilisateurs en cours...
      </p>
      <p v-else-if="filteredUsers.length === 0" style="text-align: center; font-weight: bold;">
        Aucun utilisateur trouvé
      </p>

      <table v-if="!loading && filteredUsers.length > 0">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Âge</th>
            <th>Genre</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in filteredUsers" :key="user.email">
            <td>
              <img :src="user.picture.thumbnail" :alt="user.name.first" width="60" height="60"
                style="background: #ddd;" />
            </td>
            <td>{{ user.name.first }} {{ user.name.last }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.dob.age }}</td>
            <td>{{ user.gender === 'female' ? 'Femme' : 'Homme' }}</td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>

  <script>
    const { createApp, ref, computed, onMounted } = Vue;

    createApp({
      setup() {
        const users = ref([]);
        const loading = ref(false);
        const searchQuery = ref("");
        const selectedGender = ref("");
        const selectedAgeOrder = ref("");

        const normalizeText = (text) => {
          return text
            .normalize("NFD")
            .replace(/[\u0300-\u036f]/g, "")
            .toLowerCase()
            .trim();
        };


        onMounted(() => { });

        return {};
      },
    }).mount("#app");
  </script>
</body>

</html>